/* Common Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #c3a1e7, #8e44ad, #5a2a80);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%; /* Adjusted width to prevent content from getting cut off */
    max-width: 600px;
    max-height: 1000px;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%; /* Adjusted width to prevent content from getting cut off */
    max-width: 400px;
    height: 45%;
    max-height: 1500px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Ensure padding and border don't increase the width */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3498db;
}

p {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-button {
    margin-left: 10px;
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #5dade2;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: #5dade2;
}